
<div class="container main margined-top bg-white">
  <h1>Health Statuses</h1>

  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Day</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Blood pressure</th>
        <th>Sugar</th>
        <th>Waist line</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <% if user.days %>
          <tr>
            <td> <%= image_tag validate_image(user.image) %> <%= link_to user.name, user %></td>
            <td><%= link_to "Day " + user.days.last.health_statuses.first.day.day_no.to_s, user.days.last.health_statuses.first.day %></td>
            <td><%= user.days.last.health_statuses.first.height %></td>
            <td><%= user.days.last.health_statuses.first.weight %></td>
            <td><%= user.days.last.health_statuses.first.blood_pressure %></td>
            <td><%= user.days.last.health_statuses.first.sugar %></td>
            <td><%= user.days.last.health_statuses.first.waist_line %></td>
            <td><%= link_to 'Show', user.days.last.health_statuses.first %></td>
            <td><%= link_to 'Edit', edit_health_status_path(user.days.last.health_statuses.first) %></td>
            <td><%= link_to 'Destroy', user.days.last.health_statuses.first, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>          
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'New Health Status', new_health_status_path %>
</div>
