<%= form_with(model: routine, local: true) do |form| %>
  <% if routine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(routine.errors.count, "error") %> prohibited this routine from being saved:</h2>

      <ul>
      <% routine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag validate_image(form.object.image), id: "image", class: "product-image"%>

  <div class="field">
    <%= form.label :image%>
    <%= form.file_field :image, class: "input-image" %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
