<div class="container main margined-top bg-white">

  <h1>Users</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Birthday</th>
        <th>Contact no</th>
        <th>Gender</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag validate_image(user.image) %> <%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td><%= user.address %></td>
          <td><%= user.birthday %></td>
          <td><%= user.contact_no %></td>
          <td><%= user.gender %></td>
          <td><%= link_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', new_user_path, class: "btn btn-primary gym-button-primary" %> <br><br>
</div>
