
<div class="container main margined-top bg-white">
  <%= render partial: 'users/profile', locals: {user: @user} %>
  
  <hr>
  <h2>Days</h2>
  <button type="button" class="btn btn-primary gym-button-primary" data-toggle="modal" data-target="#exampleModal">
    Create new day
  </button>

  <!-- new day modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Day</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'users/day_form' %>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="clear-fix">
    <% Day.where(user_id: @user.id).each do |day| %>
      <%= link_to day do %>
        <div class="day-container">
          <div class="header"></div>
          <div class="day-content">
            <h2><%= 'Day ' + day.day_no.to_s %></h2>
            <h5><%= day.date_created.strftime("%A") %></h5>
            <h6><%= format_date(day.date_created) %></h6>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr>
</div>



