
<div class="container main margined-top bg-white">
  <%= render partial: 'users/profile', locals: {user: @day.user} %><hr>
 
  <h1><%= "Day " + @day.day_no.to_s %></h1>
  <p>
    <%= format_date(@day.date_created) %>
  </p>

  <p>
    <%= @day.note %>
  </p>

  <%= link_to 'Edit', edit_day_path(@day) %> | 
  <%= link_to 'Destroy', @day, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', @day.user %>
</div>


<div class="container bg-white new main">
  <h1>Health Status</h1> <hr>
  
  <table class="">
    <tr>
      <td width="200px">Height:</td>
      <td><%= @health_status.height %></td>
    </tr>
    <tr>
      <td>Weight:</td>
      <td><%= @health_status.weight %></td>
    </tr>
    <tr>
      <td>Blood pressure:</td>
      <td><%= @health_status.blood_pressure %></td>
    </tr>
    <tr>
      <td>Sugar:</td>
      <td><%= @health_status.sugar %></td>
    </tr>
    <tr>
      <td>Waist line:</td>
      <td><%= @health_status.waist_line %></td>
    </tr>
  </table><br>

  <%= render 'days/edit_day_health' %> <br> <p></p>
</div>
