<div class="second_navbar ">
  <div class="container ">
    <nav class="navbar navbar-expand-lg navbar-light bg-nav-mobile">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">≡</button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item <%= check_if_active(['dashboard']) %>">
            <a class="nav-link" href="/dashboard"><span class="fas fa-chart-line icon"></span>Dashboard</a>
          </li>
          <li class="nav-item <%= check_if_active(['users', 'days']) %>">
            <a class="nav-link" href="/users"><span class="fas fa-users icon"></span>Users</a>
          </li>
          <li class="nav-item <%= check_if_active(['routines']) %>">
            <a class="nav-link" href="/routines"><span class="fas fa-tasks icon"></span>Routines</a>
          </li>
          <!-- <li class="nav-item <%= check_if_active(['days']) %>">
            <a class="nav-link" href="/exercises"><span class="fas fa-dumbbell icon"></span>Exercises</a>
          </li> -->
          <li class="nav-item  <%= check_if_active(['health_statuses']) %>">
            <a class="nav-link" href="/health_statuses"><span class="fas fa-chart-pie icon"></span>Health</a>
          </li>
          <li class="nav-item <%= check_if_active(['admins']) %>">
            <a class="nav-link" href="/admins"><span class="fas fa-users-cog icon"></span>Admins</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>